body {
    background-image: url("images/background/blackSpace1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
}

.name {
    margin: 0;
    font-size: 23px;
    font-weight: 600;
}

.right {
    display: flex;
    gap: 25px;
    
}

.right a{
    color: white;
    text-decoration: none;
}

.right h2 {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}

.right h2:hover {
    text-decoration: underline;
}

.mainContent{
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(4px);
    padding: 20px;
    border-radius: 12px;
    margin: 20px;
}

.year{
    text-align: center;
    color: white;
    font-size: 25px;
}


@media (max-width: 768px) {

    header {
        flex-direction: column;
        gap: 15px;
    }

    
}